@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Fira+Sans&family=Poppins:wght@300;400;500;600;700&display=swap');
@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }
html{
    scroll-behavior: smooth;
    
}
html::-webkit-scrollbar{
    display: none;
} 
*{
    font-family: 'San Francisco';
    font-weight: 400;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.85);
}
.nav-item a:hover{
    scale: 1.05;
    color: #0257d8;
    transition: .5s ease-in-out;
    background: transparent;
}
#home{
    background: url('images/wallpaper2you_322883.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.smileyFace{
    font-size: 5rem;
}
.img-fluid{
    filter: grayscale(70%);
}
#about .card{
    width: 18rem;
    height: 22rem;
}
.carousel-item{
    width: 100%;
    height: 80vh;
}
.carousel-item img{
    width: 100%;
    height: 100%;
    filter: grayscale(80%);
    filter: blur(1px);
    aspect-ratio: 16/9;
    object-fit: contain;
}
.carousel-caption{
    background: #666;
    border-radius: 10px;
    opacity: 0.85;
}
#skills{
    background: url('images/white_background3.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; 
}
#portfolio{
    height: 100vh;
}
#portfolio .card{
    box-shadow: 2px, 2px, 2px rgba(0, 0, 0, 0.21);
}
#portfolio .card:nth-child(0){
    border-color: #f0ed4e;
}
#portfolio .card:nth-child(1){
    border-color: #0257d8;
}
#portfolio .card:hover{
    color: #000;
    scale: 1.05;
    transition: .2s ease-in-out;
    background-color: rgba(255, 255, 255, 0.85) ;
    cursor: pointer;
}
#codingSkills{
    background: url('images/background5.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.skill-item{
    color: white;
    padding: 20px 0;
    margin-bottom: 30px;
    background: rgba(144, 144, 144, 0.78);
}
.skill-item:hover{
    scale: 1.05;
    transition: .2s ease-in-out;
    cursor: pointer;
}
.skill-item i{
    color: #0257d8;
}
#contact{
    height: 90vh;
}


.icon{
    border: solid 1px #666;
    border-radius: 10px;
    padding: 4px;
}
.icon a{
    color: #333;
}

.web-icons{
    font-size: 3rem;
}

/* media query for mobile devices */
@media only screen and (max-width: 1766px){
    
    
    #home,#about,#portfolio{
        height: auto;
    }
    #about{
        height: auto;
    }
    .xp-container{
        display: inline;
    }
    
    .carousel-item{
    width: 100%;
    height: 40vh;
    }
    #contact h1{
        padding-top: 5.5rem;
    }
    #contact{
        height: 100vh;
    }
    #about .card{
        height: auto;
    }
}

